#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .search-container {
    position: relative;

    svg {
      position: absolute;
      left: 10px;
      bottom: 7px;
    }
  }

  .search {
    width: 300px;
    font-size: medium;
    padding: 10px;
    padding-left: 2.5rem;
    border-radius: 30px;
    border: none;
  }

  button {
    b {
      font-size: 20px;
      margin-right: 8px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid white;
  padding: 3rem 3rem 2rem 3rem;
  border-radius: 20px;

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input {
    margin-left: 1rem;
    width: 350px;
    padding: 5px;
    align-self: flex-end;
    font-size: medium;
  }

  .buttons-container {
    display: flex;
    gap: 30px;

    button {
      width: 100%;
    }
  }
}

.row-detail-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #646cff;
  padding: 3rem;
  border-radius: 20px;
  max-width: 400px;
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: -50px;
  }

  h3 {
    letter-spacing: 1px;
    color: #646cff;
    margin-bottom: 8px;
  }

  p {
    font-style: italic;
  }
}