#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .search-container {
    position: relative;

    svg {
      position: absolute;
      left: 10px;
      bottom: 7px;
    }
  }

  .search {
    width: 300px;
    font-size: medium;
    padding: 10px;
    padding-left: 2.5rem;
    border-radius: 30px;
    border: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid white;
  padding: 3rem 3rem 2rem 3rem;
  border-radius: 20px;

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input {
    margin-left: 1rem;
    width: 350px;
    padding: 5px;
    align-self: flex-end;
    font-size: medium;
  }

  .buttons-container {
    display: flex;
    gap: 30px;

    button {
      width: 100%;
    }
  }
}